.main {
  position: relative;
  display: grid;
  gap: 1rem;
  justify-content: center;
  place-content: center;
  justify-items: center;
  overflow: auto;
  flex-grow: 1;
}

.tabContainer {
  width: 100%;
  max-width: 500px;
  padding-inline: 2rem;
}

.tabSelect {
  display: flex;
  justify-content: stretch;
  gap: 0.125rem;
  padding: 0.125rem;
  margin: 0 auto 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 0.5rem;
}

.tabSelect > * {
  width: 100%;
}

.tabContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 0.5rem;
}

.description {
  margin: 0;
}

.marginTop {
  margin-top: 1rem;
}

.flexColumnGap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flexRowGap {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.separator {
  width: 100%;
  border-color: rgba(255, 255, 255, 0.15);
  margin-block: 1rem;
}

.fullWidthButton {
  padding-inline: 1.25rem;
  width: 100%;
}

.sectionBorder {
  margin-top: 1.5rem;
  border-bottom: 1px solid #333;
  padding-bottom: 1.5rem;
}

.sectionMargin {
  margin-top: 1.5rem;
}

.tokenInput {
  padding: 1px 2px;
  font-size: inherit;
  line-height: inherit;
}
